* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

p {
  letter-spacing: 0.5px;
}

.line {
  display: inline-block;
  width: 100px;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}

#intro {
  width: 100%;
  height: 100vh;
  background: #333;
  color: #fff;
  overflow: hidden;
  text-align: center;
}

#intro h2 {
  font-size: 60px;
  text-shadow: 2px 2px 4px #000;
}

#intro > .left,
#intro > .right {
  position: relative;
  width: 50%; 
  height: 100vh;
  background: #999;
  float: left;
  transition: 0.8s;
}

#intro > .left {
  background-image: url('./images/character01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#intro > .right {
  background: #abc;
  background-image: url('./images/character02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#intro .title_group {
  position: absolute;
  bottom: 140px;
  padding: 0 50px;
}

/* 좌측 타이틀 커버 */
#intro .left .cover {
  position: fixed;
  left: 0%; top: 0;
  background: #b97d10;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.8s;
  z-index: -1;  /* 뒤로 빼서 클릭되지 않게 */
}

/* 우측 타이틀 커버 */
#intro .right .cover {
  position: fixed;
  right: 0%; top: 0;
  background: #105fb9;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.8s;
  z-index: -1;  /* 뒤로 빼서 클릭되지 않게 */
}

/* 타이틀 커버 선택 효과 */
#intro .cover.active {
  width: 50%;
  opacity: 0.9;
  z-index: 9; /* 클릭되면 앞으로 옴 */
}

/* 선택 반대편 스케일 축소 효과 */
#intro > .left.scale-out,
#intro > .right.scale-out {
  transform: scale(0.8);
  opacity: 0.6;
  filter: grayscale(100);
}

#intro .cover h2 {
  text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

.site_link {
  font-size: 32px;
  display: inline-block;
  margin: 1em 0;
  color: #fff;
  text-decoration: none;
}

.site_link:hover {
  text-decoration: underline;
}

.center_box {
  /* outline: 1px solid red; */
  padding: 0 40px;
  height: 262px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -131px;
  transform: translateY(2000px);
  transition-delay: 0.5s;
  transition-duration: 0.8s;
  opacity: 0;
}

#intro .cover.active .center_box {
  transform: translateY(0);
  opacity: 1;
}

.btn_close {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('./images/btn_close.svg');
  opacity: 0.8;
}

.btn_close:hover {
  opacity: 1;
}